<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../build/css/app.css">
</head>
<body>
    <section>
        <h1>MyEnglishLearning</h1>
        <form>
            <h1>Iniciar sesión en MyEnglishLearning</h1>
            <div>
                <input type="text" name="email">
                <label>Correo electronico</label>
            </div>
            <div>
                <input type="password" name="pass">
                <label>Contraseña</label>
            </div>
            <button type="submit">Iniciar sesión</button>
            <a>¿Olvidaste tu cuenta?</a>
            <p>o</p>
            <button type="submit">Crear cuenta</button>
        </form>
    </section>
</body>