@use 'base/root' as r;

@mixin phone {
    @media(max-width: r.$phone){
        @content;
    }
}

@mixin tablet {
    @media (max-width: r.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: r.$desktop) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: r.$desktopXL) {
        @content;
    }
}

@mixin grid($columnas, $espaciado){
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}