//Fonts
$font_primary: 'Oswald', sans-serif;
$font_title: 'Anton', sans-serif;
//Colors
$black: #262322;
$white: #F2E5D7;
$red: red;
//size
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
