@use 'base/root' as r;
@use 'base/mixins' as m;


.container-login{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .container-nav{
        background-color: r.$red;
        
        .container-header{
            @include m.gridOther(1fr, 0fr, 1rem);
            align-items: center;
            
            h1{
                margin: 1rem 0;
                margin-left: 2rem;
                @include m.tablet{
                    font-size: 1.8rem;
                }
            }
            
        }
        .button-siging{
            display: flex;
            justify-content: right;
            margin-right: 2rem;

            button{
                display: block;
                font-size: 1.8rem;
                width: 10rem;
                font-family: r.$font_primary;
                font-weight: bold;
                background-color: transparent;
                border: 2px solid r.$black;
                cursor: pointer;
                position: relative;
                overflow: hidden;
                @include m.tablet{
                    font-size: 1.5rem;
                    width: 5rem;
                }

                span{
                    position: relative;
                    z-index: 2; 
                }
        
                &:after{
                    content: "";
                    width: 10rem; 
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    background-color: r.$white;
                    left: calc(-100% - 84px);
                    transition: .5s ease-in-out all;
                    height: 10rem;
                }
                &:hover:after{
                    left: 0;
                }
            }
        }
    }
    
    .container{
        @include m.container-login(30rem);
    
        @include m.tablet{
            width: 25rem;
        }
        @include m.phone{
            width: 95%;
            margin: 2rem auto 0 auto;
        }
        h3{
            text-align: center;
        }
        form{
            margin: 0 auto;
            width: 90%;

            .container_input{
                position: relative;
                margin: 1rem 0;

                .label-login{
                    @include m.label-login(1rem);
                    padding: 0 .2rem;
                    &::before{
                        @include m.before;
                    }
                }
                .input-login{
                    @include m.input-login;
            
                    &:focus{
                        border: 3px solid;
                    }
                    &::placeholder{
                        font-size: 1.6rem;
                        opacity: 0;
                        transition: all .3s;
                    }
                    &:focus::placeholder{
                        opacity: 1;
                    }
                }
                
                .input-login:focus + .label-login, .filled{
                    top: -1rem;
                    font-size: 1.2rem;
                }
                span{
                    color: r.$red;
                    font-weight: bold;
                }
            }
            button{
                @include m.button-login;
                margin: 0 auto 1rem auto;
            }
        }
    }
    .footer-login{
        text-align: center;
    }
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;      
    z-index: 3;
    background-color: rgba(0, 0, 0, .5);
    
    .container{
        @include m.container-login(40rem);
        background-color: r.$white;
        @include m.tablet{
            width: 25rem;
        }
        @include m.phone{
            width: 95%;
            margin: 2rem auto 0 auto;
        }

        label{
            margin-left: 2rem;
        }
        h3{
            text-align: center;
        }
        .container_input{
            position: relative;
            margin: 1rem 2rem;

            .label-login{
                @include m.label-login(-1rem);
                margin: 0;
                font-size: 1.2rem;
        
                &::before{
                    @include m.before;
                }
            }
            .input-login{
                @include m.input-login;
        
                &:focus{
                    border: 3px solid;
                }
                &::placeholder{
                    font-size: 1.6rem;
                    opacity: 0;
                    transition: all .3s;
                }
                &:focus::placeholder{
                    opacity: 1;
                }
            }
            
            .input-login:focus + .label-login, .filled{
                top: -1rem;
                font-size: 1.2rem;
            }
            span{
                color: r.$red;
            }
        }
        button{
            @include m.button-login;
        }
        .decorate-span{
            span{
                position: absolute;
                font-weight: bold;
                background-color: r.$white;
                padding: 0 .5rem;
                left: 50%;
                margin: -.8rem 0 0 -1rem;
            }
            hr{
                border: 1px solid r.$red;
                width: 90%;
            }
        }
        .container-social{
            @include m.grid(2, 1rem);
            margin: 1rem auto;
            width: 90%;
            
            .contain-instagram, .contain-google {
                @include m.gridOther(.5fr, 2fr, 0);
                border-radius: .5rem;
                border: 2px solid r.$red;
                justify-content: center;   
                cursor: pointer;

                .pic-instagram , .pic-google{
                    @include m.flex();
                    background-color: r.$red;
                    padding: .5rem;

                    img{
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }
                span {
                    @include m.flex();
                }
            }
        }
        
    }
}

